server:
  port: 8081

spring:
  application:
    name: backend

  datasource:
    url: jdbc:postgresql://localhost:5432/Diet
    username: postgres
    password: Maya@8857
    driver-class-name: org.postgresql.Driver

  flyway:
    enabled: true
    baseline-on-migrate: false
    locations: classpath:db/migration

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect